.control-group {
    margin: 20px 20px;
}


.control-group a {
    margin-top: 5px;
    margin-bottom: 5px;
}

#form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
}


input {
    text-align: center;
    margin: 10px 5px;
}